/*修改bootstrap*/
*{
	font-family: "微软雅黑";
}
.btn-sm, .btn-group-sm>.btn{
	padding: 5px 20px;
}
.center-block{
	text-align: center;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default{
	background-color: #7DA7B5 !important;
	border-color: #5A95BA !important;
	color: #FFF !important;
}
.btn-default{
	background-color: #fff;
	border-color: #5A95BA; 
	color: #5A95BA;
}
/*modal右上角的叉*/
.close{
	color: #FFF;
	opacity: 1;
}
.modal-content{
	border: none;
}
.form-control:focus{
	box-shadow: none !important;
}

/*pop-up框样式*/
html,body{
	height: 100%;
	width: 100%;
}
.pop-up{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,.5);
	opacity: 0;
	padding: 20px;
	z-index: 999999999;
}
.pop-up-box{
	position: relative;
	width: 100%;
	padding: 20px;
	background-color: #fff;
	border-radius: 6px;
}
.content{
	text-align: center;
}
.footer{
	text-align: center;
}