
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1481549923378'); /* IE9*/
  src: url('iconfont.eot?t=1481549923378#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1481549923378') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1481549923378') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1481549923378#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-music:before { content: "\e601"; }

.icon-setting:before { content: "\e602"; }

.icon-book:before { content: "\e605"; }

.icon-tianjia:before { content: "\e611"; }

.icon-alert:before { content: "\e67d"; }

.icon-gou:before { content: "\e666"; }

.icon-shanchu:before { content: "\e7c5"; }

.icon-androidcamera:before { content: "\e6d9"; }

.icon-phone:before { content: "\e625"; }

.icon-fujian:before { content: "\e60d"; }

.icon-qianbi:before { content: "\e65f"; }

.icon-cancel:before { content: "\e623"; }

.icon-camera:before { content: "\e705"; }

.icon-appxiugaiicon10:before { content: "\e6f0"; }

.icon-save:before { content: "\ecea"; }

.icon-about:before { content: "\e71e"; }

.icon-xiayige:before { content: "\e694"; }

.icon-search:before { content: "\e60f"; }

.icon-smile-copy:before { content: "\e61b"; }

.icon-biaoqian:before { content: "\e6f8"; }

.icon-liebiao:before { content: "\e610"; }

.icon-biaoqian1:before { content: "\e600"; }

.icon-shenglve:before { content: "\e60e"; }

.icon-zhuti:before { content: "\e653"; }

.icon-qing:before { content: "\e607"; }

.icon-dayu:before { content: "\e608"; }

.icon-duoyun:before { content: "\e609"; }

.icon-yintian:before { content: "\e60a"; }

.icon-leizhenyu:before { content: "\e60b"; }

.icon-daxue:before { content: "\e60c"; }

.icon-ku:before { content: "\e644"; }

